@model OcupacaoMaquinaOFC.Models.AlocacaoHoras

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var maquina = ViewData["Maquinas"] as SelectList;
    var projeto = ViewData["Projetos"] as SelectList;
}

<h1>Delete</h1>

<h3>Você tem certeza que deseja deletar esta máquina?</h3>
<div>
    <h4>AlocacaoHoras</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.qtdHoraPorMaquina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.qtdHoraPorMaquina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.maquina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maquina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.projeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.projeto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="qtdHoraPorMaquina" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
