@model OcupacaoMaquinaOFC.Models.AlocacaoHorasViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var selectMaquinas = ViewData["Maquinas"] as SelectList;
    var selectProjetos = ViewData["Projetos"] as SelectList;
}

<h1>Detalhes</h1>

<div>
    <h4>AlocacaoHoras</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QtdHoraPorMaquina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QtdHoraPorMaquina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maquina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maquina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projeto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
