@model OcupacaoMaquinaOFC.Models.Maquina

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>--> @Model.Nome</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd><dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimiteHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimiteHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMaquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMaquina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorHora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
