@model IEnumerable<OcupacaoMaquinaOFC.Models.Projeto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projetos</h1>

<p>
    <a asp-action="Create">Adicionar novo projeto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataConclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataConclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lider)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
